{% include 'Inc/header.html' %}

<!-- Formulario para Registrar Instructors de Formacion -->
<div class="ui container">
  <h1>Formulario Para Actualizar Instructores</h1>
  <form action="" method="post" id="forminstructor" class="ui form">
    {% csrf_token %}
    {% for dato in instructor %}
    <div class="two fields">
      <div class="field">
        <label for="nombre">Nombre del Instructor:</label>
        <input type="text" name="nombre" id="nombre" value="{{ dato.NombreCompleto }}">
      </div>
      <div class="field">
        <label for="area">Area:</label>
        <input type="text" name="area" id="area" value="{{ dato.Area }}">
      </div>
    </div>
    <div class="two fields">
      <div class="field">
        <label for="cedula">Cedula del instructor</label>
        <input type="text" name="cedula" id="cedula" value="{{ dato.Cedula }}">
      </div>
      <div class="field">
        <label for="celular">celular del instructor</label>
        <input type="text" name="celular" id="celular" value="{{ dato.Celular }}">
      </div>
    </div>
    <div>
      <button type="submit" class="ui inverted green button">Actualizar Instructor</button>
    </div>
    {% endfor %}
  </form>
</div>
<!-- Mensajes con Semantic -->
<br>
{% if messages %}
{% for mensaje in messages %}
<div class="ui container" id="mensajes">
  <div class="ui {{ mensaje.tags }} message">
    <i class="close icon"></i>
    <div class="header">
      {{ mensaje }}
    </div>
  </div>
</div>
{%endfor%}
{% endif%}

{% include 'Inc/footer.html' %}
<script>
  $('.ui.form').form({
    inline: true,
    fields: {
      nombre: {
        identifier: 'nombre',
        rules: [
          {
            type: 'empty',
            prompt: 'Debe Ingresar el Nombre del Instructor'
          }
        ]
      },
      area: {
        identifier: 'area',
        rules: [
          {
            type: 'empty',
            prompt: 'Debe Ingresar el area de Instructor'
          }
        ]
      },
      cedula: {
        identifier: 'cedula',
        rules: [
          {
            type: 'empty',
            prompt: 'Debe Ingresar la Cedula del Instrcutor'
          }
        ]
      },
      celular: {
        identifier: 'celular',
        rules: [
          {
            type: 'empty',
            prompt: 'Debe Ingresar el Numero del Celular del Instrcutor'
          }
        ]
      }
    }
  });
</script>